[submodule "module/src/main/cpp/third_party/Dobby"]
	path = module/src/main/cpp/third_party/Dobby
	url = https://github.com/JingMatrix/Dobby
[submodule "module/src/main/cpp/third_party/Android-Ptrace-Injector"]
	path = module/src/main/cpp/third_party/Android-Ptrace-Injector
	url = https://github.com/reveny/Android-Ptrace-Injector
